html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "AirbnbCerealBook";
  src: url("../font/AirbnbCerealBold.ttf"); */
  background: rgba(190, 195, 202, 0.3);
}

.header {
  display: flex;
  box-sizing: border-box;
  font-weight: bold;
}

header.main-header {
  flex: 2.4;
}

header.main-header .navbar {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header.cart-header h4 {
  overflow: hidden;
}

.content {
  box-sizing: border-box;
}

aside.sidebar-left {
  background-color: blue;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 0.5;
  padding: 15px;
}

main {
  flex: 3;
}

aside.sidebar-cart {
  background-color: red;
  background: #ffffff;
  border: 1px solid #cecece;
  flex: 1.5;
  text-align: center;
}

.badge-cart {
  background-color: #57cad5;
  color: white;
  border-radius: 50px;
  height: 25px;
}

/* modal */
.btn {
  color: white;
  font-weight: bold;
}

.btn-pink {
  background-color: #f24f8a;
}

.btn-cyan {
  background-color: #57cad5;
}

.btn-modal {
  width: 100%;
}

/* responsive */
@media (min-width: 768px) {
  .content {
    display: flex;
    justify-content: center;
  }

  aside.sidebar-left a img {
    display: block;
    padding: 15px;
  }

  header.cart-header {
    background: #ffffff;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    flex: 1;
  }

  header.cart-header h4 {
    padding-top: 15px;
  }
}
