html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AirbnbCerealBook";
  font-style: normal;
  font-weight: normal;
  src: url("../font/AirbnbCerealBook.woff");
}

* {
  font-family: "AirbnbCerealBook";
}

body {
  background: rgba(190, 195, 202, 0.3);
}

.header {
  display: flex;
  box-sizing: border-box;
  font-weight: bold;
}

header.main-header {
  flex: 2.4;
}

header.main-header .navbar {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header.cart-header h4 {
  overflow: hidden;
}

.content {
  box-sizing: border-box;
}

aside.sidebar-left {
  background-color: blue;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 0.5;
  padding: 15px;
}

main {
  flex: 3;
}

.onClickTextOverImage {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.onClickTextOverImage:hover {
  opacity: 0.8;
}

.onClickTextOverImage:hover .middle {
  opacity: 1;
}

aside.sidebar-cart {
  background-color: #fff;
  border: 1px solid #cecece;
  flex: 1.5;
  text-align: center;
}

aside.sidebar-cart img.img-cart {
  width: 100px;
}

.badge-cart {
  background-color: #57cad5;
  color: white;
  border-radius: 50px;
  height: 25px;
}

/* modal */
.btn {
  font-weight: bold;
}

.btn-pink {
  color: white;
  background-color: #f24f8a;
}

.btn-cyan {
  color: white;
  background-color: #57cad5;
}

.btn-modal {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.card-left {
  background: linear-gradient(
    278.29deg,
    #fbb2b4 30.05%,
    rgba(255, 143, 178, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
  margin: 25px;
}

.card-middle {
  background: linear-gradient(
    278.29deg,
    #29dfff 30.05%,
    rgba(41, 223, 255, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
  margin: 25px;
}

.card-right {
  background: linear-gradient(
    278.29deg,
    #ab84c8 30.05%,
    rgba(241, 201, 236, 0) 133.19%
  );
  filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
  margin: 25px;
}

.card.chart {
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.select {
  background: #cecece;
  border-radius: 10px;
  font-size: 14px;
}

/* responsive */
@media (min-width: 1400px) {
  .total {
    position: absolute;
    bottom: 0;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  aside.sidebar-left a img {
    display: block;
    padding: 15px;
  }

  header.cart-header {
    background: #ffffff;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    flex: 1;
  }

  header.cart-header h4 {
    padding-top: 15px;
  }

  .ellipse {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;

    background: rgba(253, 211, 228, 0.3);
  }

  .ellipse-satu {
    left: 50%;
    top: 40px;
  }

  .ellipse-dua {
    left: 60%;
    top: 25px;
  }
  .ellipse-tiga {
    left: 70%;
    top: 10px;
  }
}

@media (max-width: 576px) {
  .content {
    text-align: center;
  }
}
